@import url(https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext);@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic);/* Box colors */
.bg-1 {
	background: #ECEFF1;
	color: #37474f;
}
.bg-2 {
	background: #7986cb;
	color: #ECEFF1;
}
.bg-3 {
	background: #37474f;
	color: #dcc;
}

/* Common button styles */
.button {
	display: block;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 7px ;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
	color: #37474f;
	border-color: #37474f;
}
.bg-2 .button {
	color: #ECEFF1;
	border-color: #ECEFF1;
}
.bg-3 .button {
	color: #dcc;
	border-color: #dcc;
}


/* Ujarak */
.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #dcc;
	z-index: -1;
	opacity: 0;
	border-radius: inherit;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak.button--round-s::before {
	border-radius: inherit;
}

.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
	color: #000;
	border-color: transparent;
}

.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: Homework;
  /* Имя шрифта */
  src: url(24fc8589f136d8508831069d3756fd76.ttf);
  /* Путь к файлу со шрифтом */ }

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000; }
  html *,
  body * {
    box-sizing: border-box; }

.clearfix {
  clear: both; }

.thnr__content {
  max-width: 1200px;
  margin: 0 auto; }

.thnr__page {
  background-color: #000;
  min-height: 100%; }

.thnr .button {
  display: inline-block;
  border: 1px solid #999;
  font-size: 12px;
  margin: 5px 3%;
  padding: 7px 25px;
  font-weight: 500;
  border-radius: 15px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  cursor: pointer; }

.thnr__bottom-anchor {
  position: absolute;
  bottom: 10px;
  font-size: 30px;
  text-align: center;
  left: 50%;
  margin: -10px;
  width: 20px;
  border: 20px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: mymove 2s infinite;
  animation: mymove 1s infinite; }

@-webkit-keyframes mymove {
  0% {
    bottom: 10px; }
  100% {
    bottom: 5px; } }

@keyframes mymove {
  0% {
    bottom: 10px; }
  100% {
    bottom: 5px; } }

html {
  -webkit-font-smoothing: subpixel-antialiased; }

.thnr {
  font-family: 'Montserrat', sans-serif;
  color: #dcc; }
  .thnr__page {
    position: relative;
    text-align: center; }
  .thnr__title {
    text-align: center;
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    padding: 0;
    margin: 0 auto 20px; }
    .thnr__title span {
      padding: 0 10px 2px;
      border-bottom: 1px solid #dcc; }

a {
  text-decoration: none;
  color: inherit; }

.clerafix:before, .clerafix:after {
  clear: both; }

.thnr__header {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #999;
  padding: 5px 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  text-align: center; }

.thnr__header-burger {
  display: none; }

.thnr__main-logo {
  display: inline-block;
  line-height: 60px;
  font-family: 'Homework', 'Annie Use Your Telescope', cursive;
  font-size: 40px;
  color: #d40000;
  text-align: center;
  width: 28%;
  vertical-align: middle; }

.thnr__main-nav-cont {
  display: inline-block;
  width: 100%; }

.thnr__main-nav {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  text-align: right;
  padding-right: 5%; }

.thnr__header-phone {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 2px; }
  .thnr__header-phone a {
    display: block;
    margin: 5px 0; }

.thnr__nav-button.button {
  margin: 5px 1%;
  min-width: 120px; }

.thnr__main-photo-wrap {
  width: 50%;
  float: left;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden; }

.thnr__main-photo {
  width: 150%;
  height: 100%;
  background: url(7f63c3fe166c4dd3a723dc30a323b128.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 60% 50%; }

.thnr__main-photo-shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  box-shadow: inset -30px 0px 100px 50px #000;
  top: 0;
  left: 0; }

.thnr__main-text-wrap {
  width: 50%;
  float: right;
  position: relative;
  height: 100%; }

.thnr__text-content {
  position: absolute;
  top: 35%;
  padding-left: 25%;
  width: 100%;
  font-style: italic; }
  .thnr__text-content .thnr__main-logo {
    font-style: normal;
    text-align: left;
    font-size: 100px;
    color: #c50d17;
    width: 100%;
    padding: 5px 30px 10px; }
  .thnr__text-content .button-main {
    font-size: 18px;
    margin: 5px 3%;
    padding: 14px 40px;
    font-style: normal;
    border-radius: 25px; }

.thnr__main-btn-wrap {
  text-align: center; }

.thnr__main-quote {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding-left: 20%;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-align: right;
  padding-right: 30px; }

.thnr__quote-author {
  text-align: right;
  padding-right: 30px;
  font-size: 14px;
  margin-top: 5px; }

.thnr__quote-message {
  text-align: right; }

.thnr__info-block {
  padding-top: 10px;
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
  text-align: right;
  width: 60%;
  border-top: 2px solid #d40000; }

.thnr__gallery-page {
  overflow: hidden;
  padding: 8% 30px 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  min-height: auto;
  position: relative;
  max-height: 720px; }
  .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-prev {
    left: 5%;
    z-index: 100; }
  .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-next {
    right: 5%;
    z-index: 100; }

.thnr__gal-item {
  display: inline-block;
  color: black;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden; }

.thnr__slick-for {
  height: 10%;
  margin: 30px auto;
  width: 65%;
  background-color: black;
  text-align: center; }
  .thnr__slick-for .thnr__gal-item {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
    border-radius: 6px; }
    .thnr__slick-for .thnr__gal-item img {
      position: absolute;
      width: auto;
      min-width: 54px;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      margin: 0 auto;
      height: 100%;
      border-radius: 6px; }
  .thnr__slick-for .slick-arrow {
    display: none !important; }

.slick-slide {
  margin: 10px;
  border-radius: 6px; }

.slick-dots {
  font-size: 0;
  margin: 10px auto; }
  .slick-dots li {
    display: inline-block; }
    .slick-dots li button {
      font-size: 0;
      height: 6px;
      width: 6px;
      background-color: #dcc;
      border-radius: 3px;
      margin: 4px; }
    .slick-dots li.slick-active button {
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background-color: white; }

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  background-color: black;
  border: 20px solid transparent; }
  .slick-arrow.slick-prev {
    left: -40px;
    z-index: 100;
    content: '<';
    border-right: 20px solid #dcc; }
  .slick-arrow.slick-next {
    right: -40px;
    z-index: 100;
    content: '>';
    border-left: 20px solid #dcc; }

.slick-gal-wrap {
  height: 60%;
  width: 70%;
  margin: 0 auto; }
  .slick-gal-wrap img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    top: 0;
    border-radius: 8px;
    max-width: 425px; }

@media (max-width: 960px) {
  .thnr__gallery-page .slick-arrow.slick-prev {
    left: -50px; }
  .thnr__gallery-page .slick-arrow.slick-next {
    right: -50px; }
  .thnr__gallery-page .slick-gal-wrap {
    height: 50%; }
    .thnr__gallery-page .slick-gal-wrap img {
      max-width: 360px; }
  .thnr__gallery-page .thnr__slick-for {
    width: 80%;
    height: 12%; }
    .thnr__gallery-page .thnr__slick-for img {
      min-width: 70px; } }

@media (max-width: 800px) {
  .thnr__slick-for .slick-list,
  .thnr__slick-for .slick-arrow {
    display: none  !important; }
  .thnr__slick-for .slick-dots {
    display: block; }
  .thnr__gallery-page .slick-gal-wrap {
    height: 70%; }
    .thnr__gallery-page .slick-gal-wrap img {
      max-width: 480px; }
    .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-prev {
      left: -50px; }
    .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-next {
      right: -50px; } }

@media (max-width: 767px) {
  .thnr__gallery-page {
    padding: 8% 5px;
    position: relative; }
    .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-prev {
      left: 5%; }
    .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-next {
      right: 5%; }
    .thnr__gallery-page .slick-gal-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 65%;
      margin: 0;
      padding: 0px;
      box-sizing: border-box; }
      .thnr__gallery-page .slick-gal-wrap img {
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto; }
    .thnr__gallery-page .thnr__slick-for {
      height: 5%;
      position: absolute;
      bottom: 10px;
      background: none;
      left: 0;
      right: 0; } }

@media (max-width: 660px) {
  .thnr__gallery-page .slick-gal-wrap {
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0; }
    .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-prev {
      left: -8%; }
    .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-next {
      right: -8%; } }

@media (max-width: 480px) {
  .thnr__gallery-page {
    padding: 55px 5px;
    position: relative; }
    .thnr__gallery-page .thnr__slick-for {
      bottom: 9%; }
    .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-prev {
      left: -33px; }
    .thnr__gallery-page .slick-gal-wrap .slick-arrow.slick-next {
      right: -33px; } }

.thnr__about {
  padding: 8% 30px 60px; }
  .thnr__about-text {
    text-align: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 15px; }
  .thnr__about .about-text-title {
    color: #d40000;
    font-size: 18px;
    font-weight: bold; }
  .thnr__about__wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px; }
  .thnr__about__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    box-sizing: border-box;
    width: calc(90%/6);
    transition: .5s;
    min-height: 430px; }
    .thnr__about__item.active {
      transform: scale(1.3); }
      .thnr__about__item.active .thnr__about__img {
        border: 5px solid #dcc;
        -webkit-filter: none;
        filter: none;
        margin: 0 auto; }
      .thnr__about__item.active:hover .thnr__img-hover {
        display: none; }
      .thnr__about__item.active .thnr__about__description > .thnr__master-description {
        opacity: 1; }
  .thnr__about__description {
    font-size: 9px;
    padding-left: 5px;
    padding-top: 10px;
    transition: .5s;
    text-align: left;
    max-width: 100%;
    margin: 0 auto; }
    .thnr__about__description > .thnr__master-description {
      transition: .5s;
      opacity: 0; }
  .thnr__about__img {
    width: 140px;
    height: 140px;
    border: 7px solid #dcc;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .5s;
    position: relative;
    overflow: hidden; }
    .thnr__about__img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto; }

.thnr__img-wrap {
  height: 210px;
  position: relative; }
  .thnr__img-wrap:hover .thnr__img-hover {
    display: block;
    transition: .5s; }

.thnr__about__img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto; }

.thnr__img-hover {
  display: none;
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgba(255, 160, 160, 0.8);
  color: #333;
  z-index: 100;
  bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto;
  right: 0;
  left: 0; }
  .thnr__img-hover span {
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 80%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.thnr__master-name {
  display: block;
  color: #d40000;
  font-size: 14px;
  font-weight: bold;
  transition: .5s;
  text-align: center; }

.thnr__master-annotation {
  display: block;
  margin-bottom: 10px; }

@media (max-width: 1200px) {
  .thnr__about__wrap {
    width: 100%;
    max-width: 100%;
    padding-top: 0; }
  .thnr__about__img {
    width: 120px;
    height: 120px;
    margin: 0 auto; }
  .thnr__about .active .thnr__about__img {
    border: 5px solid #dcc;
    -webkit-filter: none;
    filter: none;
    margin: 0 auto;
    transition: .5s; }
  .thnr__about .active + .thnr__about__description {
    font-size: 16px; }
  .thnr__about .active .thnr__img-hover {
    width: 160px;
    height: 160px; }
  .thnr__about .thnr__img-hover {
    width: 120px;
    height: 120px; } }

@media (max-width: 1000px) {
  .thnr__about {
    font-size: 0; }
    .thnr__about.thnr__page {
      padding-bottom: 50px; }
    .thnr__about__wrap {
      padding-top: 0; }
    .thnr__about__item {
      display: inline-block;
      box-sizing: border-box;
      margin: 0;
      padding: 0 5px 20px;
      width: calc(100% / 3);
      min-height: 0; }
    .thnr__about__img {
      width: 120px;
      height: 120px;
      -webkit-filter: none;
      filter: none;
      margin: 0 auto;
      transition: .5s;
      border: 5px solid #dcc; }
    .thnr__about__description {
      font-size: 14px;
      width: 100%;
      max-width: 100%; }
      .thnr__about__description > .thnr__master-description {
        opacity: 1; }
    .thnr__about .active {
      transform: scale(1); }
      .thnr__about .active.thnr__about__item {
        width: calc((100% / 3)); }
      .thnr__about .active .thnr__about__img {
        width: 120px;
        height: 120px;
        -webkit-filter: none;
        filter: none;
        margin: 0 auto;
        transition: .5s; }
      .thnr__about .active .thnr__master-name {
        font-size: 20px; }
    .thnr__about .thnr__img-hover {
      display: none !important; }
    .thnr__about .thnr__master-annotation {
      font-size: 12px; }
  .thnr__img-wrap {
    height: 140px; }
  .thnr__master-name {
    font-size: 20px; } }

@media (max-width: 768px) {
  .thnr__page.thnr__about .thnr__about__item {
    width: calc(100% / 2); } }

@media (max-width: 600px) {
  .thnr__page.thnr__about {
    padding: 60px 5px; }
    .thnr__page.thnr__about .thnr__about__item {
      width: 100%;
      margin-bottom: 15px; }
      .thnr__page.thnr__about .thnr__about__item:last-child {
        margin-bottom: 0; } }

.thnr__map-wrap {
  width: 70%;
  height: 60%;
  float: right;
  position: relative; }
  .thnr__map-wrap .thnr__map-back,
  .thnr__map-wrap #thnr__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .thnr__map-wrap .thnr__map-back {
    background-color: rgba(255, 255, 255, 0.7); }
    .thnr__map-wrap .thnr__map-back span {
      position: absolute;
      right: 10px;
      left: 10px;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      color: #333; }

.thnr__contact-us {
  padding: 80px 1% 1% 1%; }
  .thnr__contact-us__container {
    float: left;
    width: 30%;
    text-align: left;
    line-height: 1.5; }
  .thnr__contact-us__icon {
    display: inline-block;
    margin: 0 1% 0 0; }
  .thnr__contact-us_bold {
    font-weight: 700; }
    .thnr__contact-us_bold_red {
      color: #d40000; }
  .thnr__contact-us__content {
    display: inline-block;
    vertical-align: top; }
    .thnr__contact-us__content a {
      display: block; }

.thnr__title {
  text-align: center;
  display: block;
  width: 95%; }

.thnr__container-small {
  padding-bottom: 10px; }
  .thnr__container-small__social-mob {
    display: none; }

@media (max-width: 990px) {
  .thnr__map-wrap {
    width: 60%;
    height: 60%; }
  .thnr__title {
    font-size: 30px;
    margin: 0 auto 20px;
    float: none;
    display: block; }
  .thnr__contact-us {
    padding: 70px 1% 1% 2%; }
    .thnr__contact-us__container {
      width: 38%;
      font-size: 15px;
      line-height: 1.7;
      float: left; }
  .thnr__container-small {
    padding-bottom: 0; }
  .thnr__container-small__phones, .thnr__container-small__schedule, .thnr__container-small__address {
    margin-bottom: 10px; }
  .thnr__address {
    font-size: 12px;
    line-height: 18px; }
    .thnr__address:first-child {
      margin-bottom: 5px; }
  .thnr__contact-us_bold {
    font-size: 14px;
    margin-bottom: 2px; } }

@media (max-width: 768px) {
  .thnr__map-wrap {
    width: 54%;
    height: 65%;
    float: right; }
  .thnr__title {
    margin: 0 auto 20px;
    font-size: 28px; }
  .thnr__contact-us {
    padding: 60px 1% 1% 4%; }
    .thnr__contact-us__container {
      width: 40%;
      font-size: inherit;
      float: left; }
    .thnr__contact-us__content {
      font-size: 14px;
      line-height: 1.5; }
      .thnr__contact-us__content .thnr__phone {
        height: auto;
        display: block; }
  .thnr__container-small__address {
    height: auto;
    display: block;
    margin-top: 10px; }
    .thnr__container-small__address .thnr__address {
      display: block; }
  .thnr__container-small__social {
    margin-top: 20px; }
    .thnr__container-small__social .thnr__contact-us__content,
    .thnr__container-small__social .thnr__contact-us__icon {
      vertical-align: middle;
      font-size: 12px; }
  .thnr__address {
    display: inline-block; }
  .thnr__phone {
    display: inline-block; } }

@media (max-width: 600px) {
  .thnr__map-wrap {
    width: 95%;
    height: 40%;
    float: none; }
  .thnr__title {
    font-size: 28px; }
  .thnr__contact-us__container {
    width: 100%;
    float: none; }
  .thnr__contact-us__content {
    display: inline-block;
    vertical-align: middle;
    width: 92%; }
  .thnr__contact-us__icon {
    vertical-align: middle;
    margin-right: 5px; }
  .thnr__container-small {
    width: 100%; }
    .thnr__container-small__phones, .thnr__container-small__address {
      width: 100%; }
    .thnr__container-small .thnr__address {
      display: inline-block; }
      .thnr__container-small .thnr__address:first-child {
        width: 45%; }
    .thnr__container-small__schedule, .thnr__container-small__social {
      display: inline-block;
      box-sizing: border-box;
      margin-top: 0;
      vertical-align: top; }
    .thnr__container-small__schedule {
      width: 40%; }
      .thnr__container-small__schedule .thnr__contact-us__content {
        width: 80%;
        vertical-align: top; }
    .thnr__container-small__social {
      display: none;
      width: 59%;
      font-size: 14px; }
      .thnr__container-small__social-mob {
        display: inline-block; }
      .thnr__container-small__social .thnr__contact-us__content {
        width: 82%;
        vertical-align: middle; } }

@media (max-width: 480px) {
  .thnr__container-small__schedule, .thnr__container-small__address, .thnr__container-small__phones {
    width: 100%;
    display: block;
    float: none; }
    .thnr__container-small__schedule .thnr__contact-us__icon, .thnr__container-small__address .thnr__contact-us__icon, .thnr__container-small__phones .thnr__contact-us__icon {
      vertical-align: top; }
    .thnr__container-small__schedule .thnr__address, .thnr__container-small__address .thnr__address, .thnr__container-small__phones .thnr__address {
      display: block;
      width: 100%; }
      .thnr__container-small__schedule .thnr__address:first-child, .thnr__container-small__address .thnr__address:first-child, .thnr__container-small__phones .thnr__address:first-child {
        width: 100%; }
  .thnr__container-small__social {
    width: 100%; }
  .thnr__map-wrap {
    width: 100%;
    height: 60%;
    margin-top: 10px; }
  .thnr__contact-us__content {
    width: 85%; } }

.thnr__pricelist {
  text-align: center;
  padding: 80px 10px; }
  .thnr__pricelist-wrap {
    text-align: center;
    width: 95%;
    margin: 0 auto; }

.subUl {
  padding-left: 15px; }

.thnr__price-wrap {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: left;
  margin: 0 auto 15px; }
  .thnr__price-wrap ul {
    margin: 0;
    padding: 0; }
    .thnr__price-wrap ul:after {
      clear: both; }
    .thnr__price-wrap ul li {
      text-transform: capitalize;
      list-style: none;
      line-height: 1.8;
      font-weight: 300; }
      .thnr__price-wrap ul li span,
      .thnr__price-wrap ul li .price-elem-wrap {
        width: 70%;
        float: left; }
        .thnr__price-wrap ul li span span,
        .thnr__price-wrap ul li .price-elem-wrap span {
          width: 100%; }
          .thnr__price-wrap ul li span span:last-child,
          .thnr__price-wrap ul li .price-elem-wrap span:last-child {
            width: 100%;
            font-weight: 300;
            font-size: 12px;
            line-height: 1;
            margin-bottom: 4px; }
        .thnr__price-wrap ul li span:last-child,
        .thnr__price-wrap ul li .price-elem-wrap:last-child {
          width: 100px;
          float: right;
          font-weight: 500; }

.thnr__price-title {
  color: #d40000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px; }

@media (max-width: 767px) {
  .thnr__pricelist {
    padding: 60px 10px; }
  .thnr__price-wrap {
    width: 100%;
    margin: 0 auto; }
    .thnr__price-wrap ul li {
      font-size: 14px; }
      .thnr__price-wrap ul li span:last-child {
        width: 17%; }
  .thnr__price-title {
    font-size: 16px; } }

@media (max-width: 600px) {
  .thnr__pricelist-wrap {
    width: 100%; }
  .thnr__price-wrap {
    padding: 0; }
    .thnr__price-wrap ul li span {
      width: 60%; }
      .thnr__price-wrap ul li span span {
        width: 100%; }
    .thnr__price-wrap ul li span:last-child {
      width: 90px; } }

@media (max-width: 1200px) {
  .thnr__main-nav {
    padding-right: 0; } }

@media (max-width: 990px) {
  .thnr__header .button {
    margin: 5px 1%;
    padding: 5px 15px;
    min-width: 0; }
  .thnr__main-nav {
    width: 74%; }
  .thnr__main-logo {
    width: 20%; } }

@media (max-width: 767px) {
  .thnr__header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: 50px;
    box-sizing: border-box;
    z-index: 200;
    padding: 0; }
    .thnr__header .thnr__main-nav {
      position: absolute;
      top: -230px;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8);
      margin: 0 auto;
      width: 100%;
      transition: 1s; }
    .thnr__header.opened .thnr__main-nav {
      display: block;
      top: 50px;
      z-index: 100; }
  .thnr__header-burger {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 200;
    color: #dcc;
    line-height: 6px;
    font-size: 20px; }
  .thnr__main-logo {
    display: block;
    width: 100%;
    line-height: 49px;
    position: relative;
    z-index: 200;
    background-color: #000; }
  .thnr__nav-button.button {
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dcc;
    font-size: 14px;
    padding: 12px 0;
    margin: 0; }
  .thnr__main-nav-cont {
    text-align: center; }
  .thnr__nav-left {
    width: 90%; } }

@media (max-width: 1200px) {
  .thnr__text-content {
    padding-left: 20%; }
  .thnr__text-content .button-main {
    margin: 5px 1%;
    padding: 10px 35px; }
  .thnr__text-content .thnr__main-logo {
    font-size: 90px;
    text-align: center;
    padding: 0; } }

@media (max-device-width: 1024px) and (orientation: portrait) {
  .thnr__content, .thnr__page, .thnr__main-photo-wrap, .thnr__main-text-wrap {
    max-height: 768px;
    min-height: 0; }
  .thnr__main-photo {
    background-position: 60% 10%; } }

@media (max-device-width: 1366px) and (orientation: landscape) {
  .thnr__main-photo {
    background-size: 200%;
    max-width: 175%;
    background-position: 55% 50%; } }

@media (max-device-width: 768px) and (orientation: portrait) {
  .thnr__page {
    max-height: none; }
  .thnr__main-photo {
    background-size: 200%;
    max-width: 175%; } }

@media (max-width: 990px) {
  .thnr__text-content .button-main {
    margin: 5px 1%;
    padding: 10px 30px;
    font-size: 14px; }
  .thnr__text-content {
    padding-left: 10%;
    top: 30%; }
    .thnr__text-content .thnr__main-logo {
      font-size: 80px; }
  .thnr__main-quote {
    font-size: 16px; }
  .thnr__quote-author {
    padding-right: 0; }
  .thnr__info-block {
    width: 90%; }
  .thnr__main-text-wrap {
    max-height: 100%; } }

@media (max-width: 767px) {
  .thnr__main-photo-wrap {
    width: 100%; }
  .thnr__main-photo {
    width: 175%;
    height: 100%;
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: 70% 0; }
  .thnr__main-photo-shadow {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 70px 10px #000; }
  .thnr__main-text-wrap {
    position: absolute;
    width: 100%; }
  .thnr__text-content {
    padding: 0;
    top: 20%; }
    .thnr__text-content .thnr__main-logo {
      display: none; }
    .thnr__text-content .button-main {
      padding: 12px 40px;
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0.6);
      min-width: 250px; }
  .thnr__main-quote {
    bottom: 60px;
    text-shadow: 0px 0px 20px #000;
    width: 85%;
    right: 0; } }

@media (max-width: 480px) {
  .thnr__text-content {
    padding: 0;
    top: 20%; }
    .thnr__text-content .button-main {
      padding: 12px 40px;
      font-size: 18px;
      min-width: 80%; }
  .thnr__main-quote {
    bottom: 60px;
    text-shadow: 0px 0px 20px #000;
    width: 100%;
    right: 0; } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
