<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body class="thnr">

<header class="thnr__header clearfix">
    <div class="thnr__main-logo">
        TheNailRoom
    </div>
    <div class="thnr__header-burger">
        <div>&mdash;</div>
        <div>&mdash;</div>
        <div>&mdash;</div>
    </div>
    <div class="thnr__nav-left thnr__main-nav">
        <div class="thnr__main-nav-cont">
            <a href="#thnr__main-page"><span class="thnr__about-us thnr__nav-button button button--ujarak">
                Главная
            </span>
            </a>
            <a href="#thnr__gallery-page"><span class="thnr__gallery thnr__nav-button button button--ujarak">
                Галлерея
            </span>
            </a>
            <a href="#thnr__about"><span class="thnr__contacts thnr__nav-button button button--ujarak">
                О нас
            </span>
            </a>
            <a href="#thnr__contact-us"><span class="thnr__contacts thnr__nav-button button button--ujarak">
                Контакты
            </span>
            </a>
            <span class="thnr__header-phone">
            <div>(093)8017626 </div>
            <div>(096)7645886</div>
        </span>
        </div>

    </div>
</header>

<div class="thnr__content">
    <div class="thnr__main-page thnr__page clearfix" id="thnr__main-page">
        <div class="thnr__main-photo-wrap">
            <div class="thnr__main-photo"></div>
            <div class="thnr__main-photo-shadow"></div>
        </div>
        <div class="thnr__main-text-wrap">
            <div class="thnr__text-content">
                <div class="thnr__main-logo-wrap">
                    <!--<div class="thnr__add-title">Студия ногтевой эстетики</div>-->
                    <div class="thnr__main-logo">TheNailRoom</div>
                    <div class="thnr__main-btn-wrap">
                        <span class="button button-main button--ujarak">
                            Прайслист
                        </span>
                            <span class="button button-main button--ujarak">
                            Галлерея
                        </span>
                    </div>
                </div>
            </div>
            <div class="thnr__main-quote">
                <div class="thnr__quote-message">«У вас не будет второго шанса произвести первое впечатление»</div>
                <div class="thnr__quote-author">&#169; Коко Шанель</div>

                <div class="thnr__info-block">

                    <div>Индивидуальный инструмент</div>
                    <div>Гарантия на работу 21 день.</div>
                    <!--<div>Запись по телефону:</div>-->
                    <!--<div>(093)8017626 &nbsp;&nbsp;&nbsp; (096)7645886</div>-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <a class="thnr__bottom-anchor" href="#thnr__gallery-page"></a>
    </div>

    <div class="thnr__gallery-page thnr__page" id="thnr__gallery-page">
        <h1 class="thnr__title">
            <span>
                Наши работы
            </span>
        </h1>
        <div class="slick-gal-wrap">
            <div class="thnr__gal-item">
                <img src="img/photos/1.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/2.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/3.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/4.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/5.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/6.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/7.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/8.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/9.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/10.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/11.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/12.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/13.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/14.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/15.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/16.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/17.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/18.jpg" alt="">
            </div>
        </div>
        <div class="thnr__slick-for">
            <div class="thnr__gal-item">
                <img src="img/photos/1.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/2.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/3.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/4.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/5.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/6.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/7.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/8.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/9.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/10.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/11.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/12.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/13.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/14.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/15.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/16.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/17.jpg" alt="">
            </div>
            <div class="thnr__gal-item">
                <img src="img/photos/18.jpg" alt="">
            </div>
        </div>
        <a class="thnr__bottom-anchor thnr__bottom-anchor_lower" href="#thnr__about"></a>
    </div>


    <div class='thnr__about thnr__page' id='thnr__about'>
        <h1 class="thnr__title">
            <span>О Нас</span>
        </h1>
        <div class="thnr__about-text">
            <div class="about-text-title">
                Почему мы?
            </div>

            Все просто. Наша цель, смысл существования TheNailRoom,
            заключается в том, чтоб сделать вас красивее, счастливее.
            Мы точно знаем, какая бы не была погода, ситуация в семье,
            на работе,  мы можем порадовать вас ,  поднять настроение
            ни на один день,и даже не на неделю.
            У нас работают не просто дипломированные мастера с опытом
            работы не менее года, но и по-настоящему талантливые
            и любящие свою работу.<br/>
            С нами вы можете не бояться.
            Мы придерживаемся всех рекомендаций МОЗ Украины касательно дезинфекции,
            стерилизации и хранения инструментов многоразового использования.
            Что касаемо пилочек и шлифовщиков для маникюра и педикюра
            (это то, что нельзя качественно продезинфицировать),
            они у нас одноразовые, а для наращивания ногтей – индивидуальные
            (хранятся в вашем личном конверте).
            Мастера работают в перчатках и масках, рабочие поверхности и лампы
            обрабатываются после каждого клиента.
        </div>
        <div class="thnr__about__wrap">
            <div class='thnr__about__item active'>
                <div class="thnr__img-wrap">
                    <div class='thnr__about__img'>
                        <img  src="img/girls/anya_i.jpg">
                    </div>
                    <div class="thnr__img-hover">
                        <span>нажмите, чтобы узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Анна</span>
                    <!--<span class="thnr__master-annotation">Мастер маникюра с 10-тилетним стажем.</span>-->
                    <div class="thnr__master-description">
                        Мастер маникюра (аппаратный, комбинированный, классический),
                        моделирования и коррекции искусственных ногтей (гель),
                        покрытие ногтей гель-лаком (выравнивание ногтевой пластины)
                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <div class='thnr__about__img'>
                        <img src="img/girls/zhenya.jpg">
                    </div>
                    <div class="thnr__img-hover">
                        <span>нажмите, чтобы узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Евгения</span>
                    <!--<span class="thnr__master-annotation">Мастер маникюра, педикюра, бровист.</span>-->
                    <div class="thnr__master-description">

                        Мастер маникюра (аппаратный, комбинированный, классический),
                        педикюра (кислотный, аппаратный, классический),
                        покрытие ногтей гель-лаком (выравнивание ногтевой пластины),
                        бровист

                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <div class='thnr__about__img'>
                        <img src="img/girls/kris.jpg">
                    </div>

                    <div class="thnr__img-hover">
                        <span>нажмите, чтобы узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Кристина</span>
                    <div class="thnr__master-description">
                        Мастер-универсал.
                        Маникюр( классический, аппаратный, комби),
                        педикюр( кислотный, аппаратный, классический),
                        покрытие ногтей гель-лаком( выравнивание ногтевой пластины),
                        моделирование и коррекция искусственных ногтей( гель)
                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <div class='thnr__about__img'>
                        <img src="img/girls/anya.jpg">
                    </div>

                    <div class="thnr__img-hover">
                        <span>нажмите, чтобы узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Анна</span>
                    <div class="thnr__master-description">
                        Мастер-универсал, дипломированный художник.
                        Маникюр (классический, аппаратный, комби),
                        педикюр (кислотный, аппаратный, классический),
                        покрытие ногтей гель-лаком (выравнивание ногтевой пластины),
                        моделирование и коррекция искусственных ногтей (гель).
                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <div class='thnr__about__img'>
                        <img src="img/girls/albina.jpg">
                    </div>

                    <div class="thnr__img-hover">
                        <span>нажмите, чтобы узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Альбина</span>
                    <div class="thnr__master-description">
                        Мастер маникюра (аппаратный, комбинированный, классический),
                        моделирования и коррекции искусственных ногтей( гель),
                        покрытие ногтей гель-лаком(выравнивание ногтевой пластины)
                    </div>
                </div>
            </div>

            <div class='thnr__about__item'>
                <div class="thnr__img-wrap">
                    <div class='thnr__about__img'>
                        <img src="img/girls/jana.jpg">
                    </div>

                    <div class="thnr__img-hover">
                        <span>нажмите, чтобы узнать больше</span>
                    </div>
                </div>
                <div class='thnr__about__description '>
                    <span class="thnr__master-name">Яна</span>
                    <div class="thnr__master-description">
                        Мастер маникюра (аппаратный, комбинированный, классический),
                        педикюра (кислотный, аппаратный, классический),
                        покрытие ногтей гель-лаком (выравнивание ногтевой пластины)
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <a class="thnr__bottom-anchor" href="#thnr__pricelist"></a>
    </div>


    <div class='thnr__pricelist thnr__page' id='thnr__pricelist'>
        <h1 class="thnr__title thnr__contact-us__title">
            <span>Наши цены</span>
        </h1>
        <div class="clearfix thnr__pricelist-wrap">
            <div class="thnr__price-wrap">
                <div class="thnr__price-title">
                    Наращивание и коррекция ногтей (гель)
                </div>
                <ul>
                    <li>
                        <span>наращивание ногтей</span>
                        <span>350грн</span>
                    </li>
                    <li>
                        <span>коррекция/укутывание ногтей</span>
                        <span>290грн</span>
                    </li>
                    <li>
                        <span>доращивание длинны</span>
                        <span>50грн</span>
                    </li>
                    <li>
                        <span>ремонт 1 ногтя</span>
                        <span>35грн</span>
                    </li>
                    <li>
                        <span>снятие ногтей</span>
                        <span>80грн</span>
                    </li>
                </ul>
            </div>

            <div class="thnr__price-wrap">
                <div class="thnr__price-title">
                    Покрытие гель-лак
                </div>
                <ul>
                    <li>
                        <span>однотонное</span>
                        <span>160грн</span>
                    </li>
                    <li>
                        <span>кошачий глаз</span>
                        <span>180грн</span>
                    </li>
                    <li>
                        <span>френч</span>
                        <span>200грн</span>
                    </li>
                    <li>
                        <span>лунный френч</span>
                        <span>170грн</span>
                    </li>
                    <li>
                        <span>укрепление ак.пудрой</span>
                        <span>5грн/н</span>
                    </li>
                    <li>
                        <span>снятие</span>
                        <span>40грн</span>
                    </li>
                </ul>
            </div>

            <div class="thnr__price-wrap">
                <div class="thnr__price-title">
                    Дизайн
                </div>
                <ul>
                    <li>
                        <span>Френч выкладной/прорисовка</span>
                        <span>100/50грн</span>
                    </li>
                    <li>
                        <span>Покрытие цв.гелем</span>
                        <span>50грн</span>
                    </li>
                    <li>
                        <span>Покрытие к.глаз</span>
                        <span>70грн</span>
                    </li>
                    <li>
                        <span>Лунный френч</span>
                        <span>60грн</span>
                    </li>
                    <li>
                        <span>Жемчужная втирка</span>
                        <span>25грн</span>
                    </li>
                    <li>
                        <span>Зеркальная втирка</span>
                        <span>50грн</span>
                    </li>
                    <li>
                        <span>Роспись</span>
                        <span>от 10грн/н</span>
                    </li>
                    <li>
                        <span>Инкрустация камнями</span>
                        <span>0.50 рн/шт</span>
                    </li>
                    <li>
                        <span>Омбре (ручная техника)</span>
                        <span>10грн/н</span>
                    </li>
                    <li>
                        <span>Стемпинг, слайдер, б. стекло</span>
                        <span>10грн/н</span>
                    </li>
                </ul>
            </div>

            <div class="thnr__price-wrap">
                <div class="thnr__price-title">
                    Маникюр и педикюр
                </div>
                <ul>
                    <li>
                        <span class="price-elem-wrap">
                            <span>Маникюр ж/м</span>
                            <span>(классический, аппаратный, комби)</span>
                        </span>
                        <span>100/130грн</span>
                    </li>
                    <li>
                        <span class="price-elem-wrap">
                            <span>педикюр ж/м</span>
                            <span>(классический, аппаратный,
                                    кислотный, комбинированный)</span>
                        </span>

                        <span>220/250 грн</span>
                    </li>
                </ul>
            </div>

            <div class="thnr__price-wrap">
                <div class="thnr__price-title">
                    Ресницы и брови
                </div>
                <ul>
                    <li>
                        <span>коррекция бровей</span>
                        <span>50 грн</span>
                    </li>
                    <li>
                        <span>окрашивание бровей</span>
                        <span>100 грн</span>
                    </li>
                    <li>
                        <span>окрашивание ресниц</span>
                        <span>80грн</span>
                    </li>
                    <li>
                        <span>ламинирование ресниц</span>
                        <span>450грн</span>
                    </li>
                </ul>
            </div>
        </div>
        <a class="thnr__bottom-anchor" href="#thnr__contact-us"></a>
    </div>


    <div class='thnr__contact-us thnr__page clearfix' id='thnr__contact-us'>
        <h1 class="thnr__title thnr__contact-us__title">
            <span>Наши контакты</span>
        </h1>
        <div class='thnr__contact-us__container'>
            <div class='thnr__container-small__phones'>
                <div class='thnr__container-small'>
                    <img class='thnr__contact-us__icon'src='img/telephone.png'>
                    <div class='thnr__contact-us__content'>
                        <div class='thnr__phone thnr__phone_left'>(093)8017626</div>
                        <div class='thnr__phone'>(096)7645886</div>
                    </div>
                </div>
            </div>

            <div class='thnr__container-small__social thnr__container-small__social-mob'>
                <div class='thnr__container-small'>
                    <img class='thnr__contact-us__icon' src='img/facebook.png'>
                    <div class='thnr__contact-us__content'>
                        <a href="http://facebook.com/thenailroomkyiv">facebook.com/thenailroomkyiv</a>
                    </div>
                </div>
                <div class='thnr__container-small'>
                    <img class='thnr__contact-us__icon' src='img/insta.png'>
                    <div class='thnr__contact-us__content'>
                        <a href='http://instagram.com/thenailroomkyiv'>instagram.com/thenailroomkyiv</a>
                    </div>
                </div>
            </div>
        
            <div class='thnr__container-small thnr__container-small__address'>
                <img class='thnr__contact-us__icon' src='img/location.png'>
                <div class='thnr__contact-us__content'>
                    <div class='thnr__address thnr__address_left'><div class='thnr__contact-us_bold thnr__contact-us_bold_red '>метро Берестейская</div>
                    проспект Победы, 80/57</div>
                <div class='thnr__address'><div class='thnr__contact-us_bold thnr__contact-us_bold_red '>метро Крещатик</div>
                улица Лютеранская, 13</div>
                </div>
            </div>


            <div class='thnr__container-small thnr__container-small__schedule'>
                <img  class='thnr__contact-us__icon'
                src='img/clock.png'>
                <div class='thnr__contact-us__content'>
                    <div class='thnr__contact-us_bold thnr__contact-us_bold_red'>Режим работы:</div>
                    <div><span class='thnr__contact-us_bold'>Пн.</span> 08.00 - 22.00</div>
                    <div><span class='thnr__contact-us_bold'>Вт.</span> 08.00 - 22.00</div>
                    <div><span class='thnr__contact-us_bold'>Ср.</span> 08.00 - 22.00</div>
                    <div><span class='thnr__contact-us_bold'>Чт.</span> 08.00 - 22.00</div>
                    <div><span class='thnr__contact-us_bold'>Пт.</span> 08.00 - 22.00</div>
                    <div><span class='thnr__contact-us_bold'>Сб.</span> 08.00 - 22.00</div>
                    <div><span class='thnr__contact-us_bold'>Вс.</span> 08.00 - 22.00</div>
                </div>
            </div>

            <div class='thnr__container-small__social'>
                <div class='thnr__container-small'>
                    <img class='thnr__contact-us__icon' src='img/facebook.png'>
                    <div class='thnr__contact-us__content'>
                        <a href="http://facebook.com/thenailroomkyiv">facebook.com/thenailroomkyiv</a>
                    </div>
                </div>
                <div class='thnr__container-small'>
                    <img class='thnr__contact-us__icon' src='img/insta.png'>
                    <div class='thnr__contact-us__content'>
                        <a href='http://instagram.com/thenailroomkyiv'>instagram.com/thenailroomkyiv</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="thnr__map-wrap">
            <div class="thnr__map-back">
                <span>Возникли проблемы с отображением карты</span>
            </div>
            <div id="thnr__map" class="thnr__map"></div>
        </div>

        <div class="clearfix"></div>
        
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCg1QFWilivH4szSAkVTTK9BQXax5dazf8"></script>
<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg1QFWilivH4szSAkVTTK9BQXax5dazf8&callback=initMap"
async defer></script-->
</body>
</html>
