@media (max-width: 990px) {
    .thnr__map-wrap {
        width: 60%;
        height: 60%;
    }
    
    .thnr {
        &__title {
            font-size: 30px;
            margin: 0 auto 20px;
            float: none;
            display: block;
        }
        &__contact-us {
            padding: 70px 1% 1% 2%;
            &__container {
                width: 38%;
                font-size: 15px;
                line-height: 1.7;
                float: left;
            }
        }
        &__container-small {
            padding-bottom: 0;
        }
        &__container-small__phones,
        &__container-small__schedule,
        &__container-small__address {
            margin-bottom: 10px;
        }
        &__address {
            font-size: 12px;
            line-height: 18px;
            &:first-child {
                margin-bottom: 5px;
            }
        }
        &__contact-us_bold {
            font-size: 14px;
            margin-bottom: 2px;
        }
    }  
    
    }
    
    @media (max-width: 768px) {
        .thnr__map-wrap {
            width: 54%;
            height: 65%;
            float: right;
        }
    
        .thnr {
            &__title {
                margin: 0 auto 20px;
                font-size: 28px;
            }
        &__contact-us {
            padding: 60px 1% 1% 4%;
            &__container {
                width: 40%;
                font-size: inherit;
                float: left;
            }
            &__content {
                font-size: 14px;
                line-height: 1.5;
                .thnr__phone {
                    height: auto;
                    display: block;
                }
            }
        }
        &__container-small {
            &__address {
                height: auto;
                display: block;
                margin-top: 10px;
                .thnr__address {
                    display: block;
                }
            }
            &__social {
                margin-top: 20px;

                .thnr__contact-us__content,
                .thnr__contact-us__icon {
                    vertical-align: middle;
                    font-size: 12px;
                }
            }
        }
        &__address {
            display: inline-block;
        }
        &__phone {
            display: inline-block;
        }

    
    }
    }
    
    @media (max-width: 600px) {
        .thnr__map-wrap {
            width: 95%;
            height: 40%;
            float: none;
        }
        .thnr {
            &__title {
                font-size: 28px;
            }
            &__contact-us {
                &__container {
                    width: 100%;
                    float: none;
                }
                &__content {
                    display: inline-block;
                    vertical-align: middle;
                    width: 92%;
                }
                &__icon {
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }

            &__container-small {
                width: 100%;
                &__phones,
                &__address{
                    width: 100%;
                }
                .thnr__address{
                    display: inline-block;
                    &:first-child {
                        width: 45%;
                    }
                }
                &__schedule,
                &__social{
                    display: inline-block;
                    box-sizing: border-box;
                    margin-top: 0;
                    vertical-align: top;
                }
                &__schedule {
                    width: 40%;
                    .thnr__contact-us__content {
                        width: 80%;
                        vertical-align: top;
                    }
                }
                &__social {
                    display: none;
                    width: 59%;
                    font-size: 14px;
                    &-mob {
                        display: inline-block;
                    }
                    .thnr__contact-us__content {
                        width: 82%;
                        vertical-align: middle;
                    }
                }
            }


        }
    }
    
    @media (max-width: 480px) {
        .thnr {

            &__container-small {
                &__schedule,
                &__address,
                &__phones {
                    width: 100%;
                    display: block;
                    float: none;
                    .thnr__contact-us__icon {
                        vertical-align: top;
                    }
                    .thnr__address {
                        display: block;
                        &:first-child {
                            width: 100%;
                        }
                        width: 100%;
                    }
                }
                &__social {
                    width: 100%;
                }

            }
        }
        .thnr__map-wrap {
            width: 100%;
            height: 60%;
            margin-top: 10px;
      
        }

        .thnr__contact-us__content {
            width: 85%;
        }
    
    }
